.custom-text-color {
    color: black; // Replace 'red' with your desired text color
}
.navbar-bottom {
    background: rgb(237,245,244);
}
.mat-mdc-tab-link-container {
    flex-grow: 0 !important;
    margin-left: 50px !important;
}