.content {
    font-size: 18px;
    line-height: 30px;
}

.project-info {
    font-size: 20px;
    line-height: 30px;
}
.tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 300px;
    display: flex 1;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px dotted black;
    padding-left: 10px;
    text-align: left;
    top: -5px;
    left: 105%;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltips:hover .tooltiptext {
    visibility: visible;
    
  }

  .tooltiptext::before,
  .tooltiptext::after {
    top: 50%;
    right: 100%;
    transform: translate(0, -50%);
    margin-right: 15px;
  }
  
  .tooltiptext::after {
    margin-right: 8px;
    border-top: 5px solid transparent;
    border-left: 7px solid rgba(0,0,0, .7);
    border-bottom: 5px solid transparent;
  }
