<app-navbar-top></app-navbar-top>
<main class="main-content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <p>© 2025 Thuan Pham. All rights reserved.</p>
  <p>
    Connect with me:
    <a href="https://github.com/thuansystemit" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/thuan-pham" target="_blank">LinkedIn</a> |
    <a href="mailto:pvthuan0702@gmail.com">Email</a>
    &nbsp; Phone: 0907656865
  </p>
</footer>
