.mat-card-title,.mat-card-action-btn {
    justify-content: center !important;
    align-items: center !important;
}
.mat-mdc-card-header {
    justify-content: center !important;
    align-items: center !important;
}
.card-container {
    background: #fff;
}

.login-main {
    margin-left: 35%;
    margin-right: 35%;
}

.space-between-btn {
    margin-right: 20px;
}
.submit-button {
    border-radius: 25% / 50%;
}