<div class="experience-page">
  <h2 class="section-title">Professional Experience</h2>

  <div class="experience-card" *ngFor="let exp of experiences">
    <div class="job-header">
      <div class="job-title-company">
        <span class="job-title">{{ exp.title }}</span>
        <span class="separator"> - </span>
        <span class="company">{{ exp.company }}</span>
      </div>
      <span class="period">{{ exp.period }}</span>
    </div>
    <ul class="highlights">
      <li *ngFor="let item of exp.highlights">{{ item }}</li>
    </ul>
  </div>
</div>
