<div class="container">
    <div class="row">
      <div class="col-sm">
        &nbsp;
      </div>
      <div class="col-sm">
        &nbsp;
      </div>
      <div class="col-sm">
        <p>Phone: <span class="mobile">0907656865</span> - Email: <span class="address">pvthuan0702@gmail.com</span></p>
        <p>Address: 1164/1A Truong Sa - Phu Nhuan - Ho Chi Minh City</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-8">
        <p class="text-center text-cv">THUAN PHAM</p>
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-8">
        <h2 class="text-center text-job-title">Fullstack developer</h2>
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="highlight-cv">HIGHLIGHT<span class="highlight-hr"></span></p>
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <ul class="content">
          <li *ngFor="let item of highlights">{{item.value}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="highlight-cv">TECHNICAL SKILLS<span class="technical-hr"></span></p>
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-2">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <ul class="content">
          <li *ngFor="let item of technicalSkills">{{item.value}}</li>
        </ul>
      </div>
    </div>
</div>