.text-cv {
    color: rgb(0, 140, 251) !important;
    font-weight: bold;
    font-size: 40px;
}
.text-job-title {
    font-weight: bold;
    font-size: 32px;
}
.highlight-cv {
    color: rgb(0, 140, 251) !important;
    font-weight: bold;
    font-size: 32px;
}
.highlight-hr {
    display: inline-block;
    width: 78%;
    height: 3px;
    background-color: black;
    margin-left: 10px;
    vertical-align: middle;
    background: rgb(0, 140, 251) !important;
    font-weight: bold;
}
.technical-hr {
    display: inline-block;
    width: 67%;
    height: 3px;
    background-color: black;
    margin-left: 10px;
    vertical-align: middle;
    background: rgb(0, 140, 251) !important;
    font-weight: bold;
}
.university-hr {
    display: inline-block;
    width: 77%;
    height: 3px;
    background-color: black;
    margin-left: 10px;
    vertical-align: middle;
    background: rgb(0, 140, 251) !important;
    font-weight: bold;
}
.content {
    font-size: 18px;
    line-height: 30px;
}
.mobile {
    font-weight: bold;
}
.address {
    font-weight: bold;
}
.university {
    margin-top: 5px !important;
    font-size: 18px !important;
    font-weight: bold;
}

.wrapper-detail-university {
    margin-top: 5px !important;
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center;
    font-size: 18px !important;
    .year {
        font-weight: bold;
    }
}