.text-cv {
    color: rgb(0, 140, 251) !important;
    font-weight: bold;
    font-size: 40px;
}
.text-job-title {
    font-weight: bold;
    font-size: 32px;
}
.highlight-cv {
    color: rgb(0, 140, 251) !important;
    font-weight: bold;
    font-size: 32px;
}
.highlight-hr {
    display: inline-block;
    width: 78%;
    height: 3px;
    background-color: black;
    margin-left: 10px;
    vertical-align: middle;
    background: rgb(0, 140, 251) !important;
    font-weight: bold;
}
.technical-hr {
    display: inline-block;
    width: 63%;
    height: 3px;
    background-color: black;
    margin-left: 10px;
    vertical-align: middle;
    background: rgb(0, 140, 251) !important;
    font-weight: bold;
}
.content {
    font-size: 18px;
    line-height: 30px;
}
.mobile {
    font-weight: bold;
}
.address {
    font-weight: bold;
}